# Windows files
# =========================

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# OS files
# =========================

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
.apdisk
.AppleDB
.AppleDesktop
.profile
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
Network Trash Folder
Temporary Items


# Data and local files
# =========================

data/*
local/*
!data/.keep

*.csv
*.mrc
*.json
*.pyc
*.xml
*.xslx
